/**{*/
/*    border: 1px solid black;*/
/*}*/

.headBlock{
    background-image: url("../image/praga.jpg");
    background-position: center;
    background-repeat: no-repeat no-repeat;
    opacity: 0.9;
    font-size: 60px;
    font-weight: 300;
    color: white;
    height: auto;
}

body {
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
    color: white;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #000000;
}

.margSection{
    /*padding: 100px;*/
    padding-top: 100px;
}

.margSectionUpper{
    padding: 100px;
    padding-top: 100px;
}

.btn_click {
    border: 2px solid #dab80f;
    background: none;
    color: white;
    box-sizing: border-box;
    font-size: 18px;
    padding: 8px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 80px;
    padding-right: 80px;
}


.divHeadBlock{
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.headName{
    font-size: 54px;
    font-weight: bold;
}

/* navbar */

.navContainer{
    padding: 20px;
}

#navbarText{
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
}

.nav-item{
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}


.logo_nav{
    margin-left: 50px;
    /*padding-bottom: 30px;*/
}

.div_btn_account{
    margin-right: 50px;
}

.nav_header{
    font-size: 26px;
    font-weight: 500;
    color: white;
}

.nav-link{
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.form_register{
    text-align: center;
}

/**{*/
/*    border: 1px solid black;*/
/*}*/

.div_input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_input{
    background-color: white;
    border-radius: 10px;
    border-color: #DB9A64;
    padding: 10px;
    padding-left: 10px;
    padding-right: 150px;
}

.form_textarea{
    padding: 10px;
    padding-left: 10px;
    padding-right: 150px;
    background-color: white;
    border-radius: 10px;
    border-color: #DB9A64;
    height: 100px;
}

.form_inputs{
    padding-top: 20px;
    padding-bottom: 20px;
}

.form_post{
    text-align: center;
}

.div_linn_head{
    display: flex;
    justify-content: center;
}

.lineHead{
    margin-top: 25px;
    margin-bottom: 25px;
    background: white;
    height: 2px;
    width: 100px;
}

.lineHead2{
    margin-top: 15px;
    margin-bottom: 25px;
    background: #DB9A64;
    height: 2px;
    width: 100px;
}

.down_header{
    font-size: 20px;
}

.down_header2{
    color: #626262;
    font-style: italic;
    text-align: center;
    font-size: 16px;
}

.tileBlock{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

/*2 section*/
.ImageTwo{
    width: 100%;
    height: auto;
}

.headAbout{
    text-align: center;
    tab-size: 42px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.aboutMe{
    margin-left: 50px;
    margin-right: 50px;
}

.textAboutMe{
    text-align: center;
    font-size: 18px;
    margin-top: 35px;
    color: #626262;
}

.containerItem{
    margin-top: 100px;
}

.containerLine {
    width: 100%;
    background: #3853b4;
    height: 5px;
}

.containerDownTezis{
    padding-right: 60px;
}

.divLine{
    border: 2px solid #0037F9;
}

.containerText{
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

/* 3 секция */
.container {
    border: 1px solid #DB9A64;
    box-sizing: border-box;
    padding: 25px;
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    height: 180px;
}

.backItem{
    background: #DB9A64;
    filter: blur(14px);
    width: 55px;
    height: 55px;
}

.numberItem{
    position: relative;
    bottom: 50px;
    left: 17px;
    font-size: 30px;
    font-weight: bold;
}

.divBackItem{
    position: absolute;
    left: 70px;
}

.divBackItem2{
    position: absolute;
    left: 35%;
}

.numberItem2{
    position: relative;
    bottom: 50px;
    left: 17px;
    font-size: 30px;
    font-weight: bold;
}

.backItem2{
    background: #0037F9;
    filter: blur(14px);
    width: 55px;
    height: 55px;
}

.divBackItem3{
    position: absolute;
    right: 32%;
}

.numberItem3{
    position: relative;
    bottom: 50px;
    left: 17px;
    font-size: 30px;
    font-weight: bold;
}

.backItem3{
    background: #0037F9;
    filter: blur(14px);
    width: 55px;
    height: 55px;
}

.threeMargin{
    margin-top: 50px;
}

.textItem {
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

.headItem{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*3 section*/
.sectionThree{
    padding: 100px;
}